html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom , #A9A9A9, 50%, #5C5D67);
}

/* Style the header */
header {
    grid-area: header;
    background-image: url("../images/Linus\ logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment:fixed;
    background-position: center;
    padding: 10%;
    text-align: center;
}

.logo1 {
    position: relative;
    animation: logoshake 2s linear infinite alternate;
}

@keyframes logoshake{
    from{
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
      }
    }

.footerlogo{
    position:absolute;
     height: 3%;
     width: auto;
 }



/* Style the navigation bar*/
nav {
  display: inline-block;
  position:relative;
  padding: 1%;
  overflow: hidden;
  background-color: #A9A9A9;
  color:#5C5D67;
  text-align:right;
  grid-area: nav;
  z-index:1;
}

  nav a {
      float:inline-block;
      color: #5C5D67;
      padding: 3%;
      margin:0%;
      text-decoration: none;
      font-size: 18px;
      z-index:1;
  }

      nav a:hover {
          background-color: #5C5D67;
          color: #f2f2f2;
          box-shadow: #5C5D67 5px 0px 5px;
          text-decoration:overline;
          transition:background-color 0.5s;
          z-index:1;
      }

      nav a.active {
          background-color: transparent;
          text-decoration:overline;
          color: black;
          box-shadow: none;
          z-index:1;
      }

      .navleft {
          display:inline-flex;
          position:fixed;
          top:0%;
          width:100%;
          overflow: hidden;
          background-color: #A9A9A9;
          grid-area: navleft;
          z-index:1;
      }

  /* Style The grid container */
  body {
    display: grid;
    grid-column-gap: 0%;
    grid-template-areas: 
       'navleft navleft navleft nav nav nav' 
      'header header header header header header' 
      'middle middle middle middle middle middle' 
      'left left left footer footer footer';
  } 
  
  /* Style the article */
  article {
    grid-area: middle;
    padding: 1%;
    background-color: transparent;
    text-align: center;
    font-size: 16px;    
    color: white;
    border:none;
  }
  
  /* Style the transition div */
.notranstext{
  color:white;
  font-size:18px;
}

p { display: inline-block; }

  .transition1{
    display: inline-block;
    position: relative;
    width: 700px;
    height: 200px;
    font-size:0px;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(169,169,169, 0.8), rgb(92,93,103, 0.8)) ,url("../images/formbackground1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-clip: border-box;
    background-attachment:local;
    background-position: center;
    border:none;
    transition: width 2s , height 2s, border-radius 2s, font-size 2s;
    animation-name:transitionanim;
    animation-duration: 2s;   
    animation-timing-function: ease-in;
  }

  @keyframes transitionanim {
    from{opacity:0;}
    to{opacity: 1;}
  }

  .transition1:hover{
    border-radius: 50%;
    width: 700px;
    height: 400px;
    font-size:16px;
  }

  .transition2{
    display: inline-block;
    position: relative;
    width: 700px;
    height: 200px;
    font-size:0px;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(169,169,169, 0.8), rgb(92,93,103, 0.8)) ,url("../images/aboutbackground.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-clip: border-box;
    background-attachment:local;
    background-position: center;
    border:none;
    transition: width 2s , height 2s,border-radius 2s, font-size 2s;
    animation-name:transitionanim;
    animation-duration: 2s;   
    animation-timing-function: ease-in;
  }

  .transition2:hover{
    border-radius: 50%;
    width: 700px;
    height: 400px;
    font-size:16px;
  }
  
  .transition3{
    display: inline-block;
    position: relative;
    width: 700px;
    height: 200px;
    font-size:0px;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(169,169,169, 0.8), rgb(92,93,103, 0.8)) ,url("../images/formbackground.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-clip: border-box;
    background-attachment:local;
    background-position: center;
    border:none;
    transition: width 2s , height 2s, border-radius 2s, font-size 2s;
    animation-name:transitionanim;
    animation-duration: 2s;   
    animation-timing-function: ease-in;
  }

  .transition3:hover{
    border-radius: 50%;
    width: 700px;
    height: 400px;
    font-size:16px;
  }

  .transition4{
    display: inline-block;
    position: relative;
    width: 700px;
    height: 200px;
    font-size:0px;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(169,169,169, 0.8), rgb(92,93,103, 0.8)) ,url("../images/aboutbackground.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-clip: border-box;
    background-attachment:local;
    background-position: center;
    border:none;
    transition: width 2s , height 2s, border-radius 2s, font-size 2s;
    animation-name:transitionanim;
    animation-duration: 2s;   
    animation-timing-function: ease-in;
  }

  .transition4:hover{
    border-radius: 50%;
    width: 700px;
    height: 400px;
    font-size:16px;
  }


/* unvisited link */
a:link {
    color: inherit;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: inherit;
    text-decoration: none;
  }
  
  /* Style the footer */
  footer {
    grid-area: footer;
    background-color: #5C5D67;
    padding: 1%;
    text-align: center;
  }
  
  /*stylize the contact info in footer*/
  .footerleft{
    grid-area: left;
    background-color: #5C5D67;
    padding: 1%;
    text-align: center;
  }

  
/* Responsive Layout */
@media only screen and (min-width: 1025px) and (max-width: 1920px) { 
    nav { display: inline-block; vertical-align: middle;} 

    body  {
        grid-template-areas: 
           'navleft navleft navleft nav nav nav' 
          'header header header header header header' 
          'middle middle middle middle middle middle' 
          'left left left footer footer footer';
      }

      header{width: 100%;}
      nav{width:100%;}
      .middle{width: 100%;}
      .left{width: 100%;}
      form{width:100%;}
      .footerleft{width: 100%;}
      .span{font-size:auto;}
      .logo1{width: 20%; height: auto;}
      
} 

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    nav { display: inline-block; vertical-align: middle; } 

    body  {
        grid-template-areas: 
           'navleft navleft navleft nav nav nav' 
          'header header header header header header'
          'middle middle middle middle middle middle' 
          'left left left footer footer footer';
      }

      header{width: 100%;}
      nav{width:100%;}
      .middle{width: 75%;}
      .left{width: 75%;}
      form{width:100%;}
      .footerleft{width: 100%;}
      .span{font-size:auto;}
      .logo1{width: 15%; height: auto;}
      
} 

@media only screen and (min-width: 481px) and (max-width: 767px) { 
    nav { display: inline-block; vertical-align: middle; } 

    body  {
        grid-template-areas:
        'navleft navleft nav nav'  
        'header header header header' 
        'middle middle middle middle' 
        'left left left left'
        'footer footer footer footer'
      }

      header{width: 100%;}
      nav{width:100%;}
      .middle{width: 60%;}
      .left{width: 60%;}
      form{width:100%;}
      .footerleft{width: 100%;}
      .span{font-size:auto;}
      .logo1{width: 15%; height: auto;}
      
} 

@media only screen and (min-width: 200px) and (max-width: 480px) { 
    nav { display: inline-block; vertical-align:middle; } 

    body  {
        grid-template-areas: 
           'navleft nav' 
          'header header'
          'middle middle' 
          'left left'
          'footer footer';
      }

      header{width: 100%;}
      nav{width:100%;}
      .middle{width: 50%;}
      .left{width: 50%;}
      form{width:100%;}
      .footerleft{width: 100%;}
      .span{font-size:auto;}
      .logo1{width: 15%; height: auto;}
      
} 

/*stylize the form*/
 form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
    color: black;
    display: block;
    background-color: transparent;
    border: none;
    padding: 1%;
    margin: 0%;
    font-size: 18px;
    text-align: center;
    align-content: center;
    max-width: 700px;
}

/*stylize the form buttons*/
input,
button {
	color: black;
	border: 2px solid #A9A9A9;
	padding: 2%;
	font-size: 100%;
	background: #f2f2f2;
	border-radius: 1%;
	width: 100%;
}

/*stylize the form textarea*/
textarea {
	color: black;
	border: 2px solid #A9A9A9;
	padding: 2%;
	font-size: 100%;
	background: #f2f2f2;
	border-radius: 1%;
	width: 100%;
}

/*stylize the extra text*/
span{
    font-size: 25px;
    color:white;
    text-align: center;
}

.map{
    border:none;
    grid-area: footer;
    width: 600px;
    height: 400px;
    max-width: 600px;
}