html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body{
    background-color: #A9A9A9;
}

/* Style the header */
header {
    grid-area: header;
    background-image: url("../images/Linus\ logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment:fixed;
    background-position: center;
    padding: 10%;
    text-align: center;
    font-size: 25px;
}

.logo1 {
    position: absolute;
    left: 0%;
    top: 1%;
    padding: 1%;
    height: 10%;
    width: 15%;
}

.footerlogo{
    position:absolute;
     height: 4%;
     width: auto;
 }

.clock {
    position: absolute;
    left: 75%;
    top: 5%;
    height: 20%;
    width: 25%;
    border:none;
}

/* Style the navigation bar*/
nav {
    display: block;
    position: absolute;
    top:5%;
    left:2%;
    right:50%;
    width: 90%;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    grid-area: nav;
}

    nav a {
        float:none;
        color: #f2f2f2;
        text-align: center;
        padding: 5%;
        text-decoration: none;
        font-size: 25px;
    }

        nav a:hover {
            background-color: #AFD2E9;
            color: black;
        }

        nav a.active {
            background-color: #AFD2E9;
            color: black;
        }
  /* The grid container */
  body {
    display: grid;
    grid-column-gap: 0%;
    grid-template-areas: 
      'header header header header header header' 
      'nav nav nav nav nav nav' 
      'middle middle middle middle middle middle' 
      'left footer footer footer footer footer';
  } 
  
  /* Style the article */
  article {
    grid-area: middle;
    padding: 1%;
    background-color: #A9A9A9;
    text-align: center;
    font-size: 35px;    
    border: 2px solid #A9A9A9;
  }
  
  
  /* Style the footer */
  footer {
    grid-area: footer;
    background-color: #5C5D67;
    padding: 1%;
    text-align: center;
    
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    body  {
      grid-template-areas: 
        'header header header header header header' 
        'nav nav nav nav nav nav' 
        'middle middle middle middle middle middle' 
        'left footer footer footer footer footer';
    }
  }

  .footerleft{
    grid-area: left;
    background-color: #5C5D67;
    padding: 1%;
    text-align: center;
  }
/*stylize the form*/
 form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:static;
    color:brown;
    display: block;
    background-color: #5C5D67;
    border: none;
    padding: 1%;
    margin: 0%;
    font-size: 18px;
    text-align: center;
    align-content: center;
    max-width: 400px;
}

/*stylize the form buttons*/
input,
button {
	color: brown;
	border: 2px solid #A9A9A9;
	padding: 2%;
	font-size: 100%;
	background: #f2f2f2;
	border-radius: 1%;
	width: 100%;
}

/*stylize the form textarea*/
textarea {
	color: brown;
	border: 2px solid #A9A9A9;
	padding: 2%;
	font-size: 100%;
	background: #f2f2f2;
	border-radius: 1%;
	width: 100%;
}

/*stylize the extra text*/
span{
    font-family: 'Aclonica';
    font-size: 40px;
    color:brown;
    text-align: center;
}

.map{
    border:none;
    grid-area: footer;
    width: 600px;
    height: 400px;
    max-width: 600px;
}
