html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    /*background: linear-gradient(to bottom , #A9A9A9, 50%, #5C5D67);*/
    background : #A9A9A9;
}

/* Style the header */
header {
    grid-area: header;
    background-image: url("../images/Linus\ logo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment:fixed;
    background-position: center;
    padding: 10%;
}

.logo1 {
    position: relative;
    animation: logoshake 2s linear infinite alternate;
}

@keyframes logoshake{
    from{
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
      }
    }

.footerlogo{
    position:absolute;
     height: 3%;
     width: auto;
 }

/*stylize the figures to the left*/
.Figure{    
float:left;
display:block;
width: auto;
overflow: hidden;
border-radius:5%;
background-color: #5C5D67;
margin:2% 8%;
}
    .Figure img{
        width: 400px;
        height: 300px;
    }


/* Style the navigation bar*/
nav {
    display: inline-block;
    position:relative;
    padding: 1%;
    overflow: hidden;
    background-color: #A9A9A9;
    text-align:right;
    grid-area: nav;
    z-index:1;
}

    nav a {
        color: #5C5D67;
        padding: 3%;
        margin:0%;
        text-decoration: none;
        font-size: 18px;
        z-index:1;
    }

        nav a:hover {
            background-color: #5C5D67;
            color: white;
            box-shadow: #5C5D67 5px 0px 5px;
            text-decoration:overline;
            transition:background-color 0.5s;
            z-index:1;
        }

        nav a.active {
            text-decoration:overline;
            color: white;
            background-color: #5C5D67;
            box-shadow: none;
            z-index:1;
        }

        .navleft {
            display:inline-flex;
            position:fixed;
            top:0%;
            width:100%;
            overflow: hidden;
            background-color: #A9A9A9;
            grid-area: navleft;
            z-index:1;
        }

         /* Style The Sidebar */
      .sidebar {
        display: block;
        position:relative;
        padding: 0%;
        margin:0%;
        overflow: hidden;
        background-color: #5C5D67;
        color:#A9A9A9;
        text-align:center;
        grid-area: nav;
        z-index:1;
      }

      ul {
        list-style-type: none;
        font-size: 35px;    /* This controls the space between the text */
      }
      
      .sidebar a {
        color: #A9A9A9;
        padding: 0%;
        margin:0%;
        text-decoration: none;
        z-index:1;
    }

    .sidebar a.active {
      background-color: transparent;
      text-decoration:overline;
      color: white;
      box-shadow: none;
      z-index:1;
      font-size: 25px;
  }
        
/* Style The grid container */
body {
    background-color: #A9A9A9;
    display: grid;
    grid-column-gap: 0%;
    grid-template-areas:
        'navleft navleft navleft nav nav nav'
        'header header header header header header'
        'article article article article article article'
        'footer footer footer footer footer footer';
}

/* Style the article */
article {
    grid-area: article;
    background-color: rgb(169, 169, 169);
    text-align: center;
    font-size: 16px;    
    border: none;
    animation-name:transitionanim;
    animation-duration: 1s;   
    animation-timing-function: ease-in;
  }
  
  @keyframes transitionanim {
    from{opacity:0;}
    to{opacity: 1;}
  }


/* Style the footer */
footer {
    grid-area: footer;
    background-color: #5C5D67;
    padding: 1%;
    text-align: center;
}

/*stylize the logo quote on the header*/
.logoquote{
    font-size: 30px;
    font-weight: 600;
    color:white;
    float:none;
  }

     /* Responsive layout */
     /* Imagine you are drawing on canvas, the more you stretch, the easier it fits*/
     @media only screen and (min-width: 1025px) and (max-width: 1920px) { 
        nav { display: inline-block;}
        .sidebar{display:none;}

        body {
            grid-template-areas:
                'navleft navleft navleft nav nav nav'
                'header header header header header header'
                'article article article article article article'
                'footer footer footer footer footer footer';
        }
    
          header{width: 100%;}
          nav{width:100%;}
          footer{width: 100%;}
          .logo1{width: 20%; height: auto;}
          
    } 
    
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    nav { display: none;} 
    .sidebar{display:block;}
    .navleft{ display: none;} 

    body {
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'article article article article article article'
            'footer footer footer footer footer footer';
    }
    
          header{width: 100%;}
          nav{width:100%;}
          footer{width: 75%;}
          .logo1{width: 15%; height: auto;}
          
    } 

    @media only screen and (min-width: 481px) and (max-width: 767px) { 
        nav { display: none;} 
    .sidebar{display:block;}
    .navleft{ display: none;} 

        body {
            grid-template-areas:
                'nav nav nav nav'
                'header header header header'
                'article article article article'
                'footer footer footer footer';
        }
        
              header{width: 100%;}
              nav{width:100%;}
              footer{width: 100%;}
              .logo1{width: 15%; height: auto;}
              
        } 
  
        @media only screen and (min-width: 200px) and (max-width: 480px) { 
            nav { display: none;} 
            .sidebar{display:block;}
            .navleft{ display: none;} 

            body {
                grid-template-areas:
                    'nav nav'
                    'header header'
                    'article article'
                    'footer footer';
            }
        
            header{width: 100%;}
            nav{width:100%;}
            article{width:100%;}
            footer{width: 100%;}
            .logo1{width: 15%; height: auto;}
              
        } 